:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --main:  #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}
@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Neucha";
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

body {
  width: 1440px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;

  color: var(--dark);
  background-color: var(--white);
}

.background {
  position: relative;
}

.background::before {
  position: absolute;
  top: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.09;

  content: "";
}

section {
  width: 100%;
  margin: 0;
}

header,
.video-content {
  height: 914px;
}

.content-section {
  max-width: 1110px;
  height: 714px;
  margin: 0 auto;
  padding: 100px 165px;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  line-height: 1.2em;
  font-family: "Neucha", sans-serif;
}

h1 {
  width: 100%;

  font-size: 72px; 
}

h2 {
  padding-bottom: 30px;
  
  font-size: 60px;
  line-height: 72px;
}

.video-content > .content-section > h2 {
  text-align: center;
}

h3 {
  width: 350px;
  height: 323px;

  font-size: 52px;

  color: var(--white);
}

h4 {
  padding-bottom: 16px;
  padding-top: 40px;
  
  font-size: 34px;

  color: var(--main);
}

h5 {
  margin: 0;
  padding: 5px 10px;

  font-size: 14px;
  line-height: 1.2em;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--brown);
}

.light-header {
  color: var(--brown);
  background-color: var(--white);
}

.main-image {
  position: absolute;
  top: 55px;
  left: 461px;
  height: 525px;
}

.cognitive {
  color: var(--main);
}

.first-count,
.second-count {
  position: absolute;
  top: 543px;
  width: 540px;
}

.first-count {
  height: 141px;
  margin-right: 30px;
}

.second-count {
  right: 165px;
  height: 186px;
}

button {
  background-color: var(--main);
}

button:hover {
  background-color: var(--main);
}

.more {
  position: absolute;
  top: 765px;
  left: 735px;
  width: 148px;
  height: 49px;

  border: none;
}

.to-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 101px;
  height: 26px;
  padding: 12px 24px;
  text-decoration: none;

  font-size: 16px;
  line-height: 1.6em;
  font-weight: 700;
  text-transform: uppercase;
  
  color: var(--white);
}

.video-content {
  position: relative;

  background: linear-gradient(to bottom, var(--white) 814px, var(--main-dark) 100px);
}

.video-text {
  margin: 0;
  padding-bottom: 30px;
  
  text-align: center;
}

.video {
  position: absolute;
  top: 329px;
  left: 261px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

#navigation {
  height: 891px;
  
  background-color: var(--main-dark);
}

#ikea-effect {
  height: 905px;
}

#premature-optimization {
  height: 855px;
}

#distortion-of-novelty {
  height: 880px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 302px;
  padding: 24px;
  text-decoration: none;
}

.card:hover {
  background-color: var(--main);
}

.card:hover > .number,
.card:hover > h4,
.card:hover > .menu-content {
  color: var(--white);
}

.card:hover > h4 {
  padding-top: 24px;
  padding-bottom: 4px;
}

.card-1,
.card-2 {
  height: 275px;
}

.card-3,
.card-4,
.card-5 {
  height: 300px;
}

.white-bkg {
  background-color: var(--white);
}

.number {
  padding-bottom: 40px;
  
  font-size: 64px;
  line-height: 1em;
  font-family: "Neucha", sans-serif;
  
  color: var(--main-dark);
}

.menu-content {
  margin: 0;
  
  color: var(--main-dark);
}

.light-theme {
  background-color: var(--light);
}

.dark-theme {
  background-color: var(--brown);
}

.description {
  display: flex;
  justify-content: space-between;
}

img {
  vertical-align: middle;
  padding-bottom: 100px;
}

.odd-section {
  padding-right: 30px;
}

.even-section {
  padding-left: 30px;
}

.overhead {
  font-size: 24px;
  line-height: 1.2em;
  font-family: "Neucha", sans-serif;

  color: var(--opacity-dark);
}

.dark-color {
  color: var(--opacity-white);
}

.description-distortion {
  font-size: 34px;
  line-height: 1.2em;
  font-family: "Neucha", sans-serif;
}

.addition {
  display: flex;
  justify-content: space-between;
}

.content-addition {
  width: 540px;
  height: 145px;
}

.light-text {
  color: #fff;
}